---
import Icon from './icon.astro';
import type { CalloutProps } from './types';

interface Props extends CalloutProps {}
const { title, type } = Astro.props;

const icon = type === "danger" ? "triangle-alert" :  type ==="success" ? "circle-check" :  type === 'warning' ? 'circle-alert' : 'lightbulb'
---

<div class:list={[
    'callout',
    {'callout-tip': type === 'tip'},
    {'callout-warning': type === 'warning'},
    {'callout-danger': type === 'danger'},
    {'callout-success': type === 'success'}
]}>
    <div class:list={[
        'callout-header',
        {'callout-header-tip': type === 'tip'},
        {'callout-header-warning': type === 'warning'},
        {'callout-header-danger': type === 'danger'},
        {'callout-header-success': type === 'success'}
    ]}>
        <slot name="icon">
            <Icon name={icon} class="w-8" />
        </slot>
        <slot name="title">{title}</slot>
    </div>
    <div class:list={[
        "block p-2",
        {'bg-teal-50': type === 'tip'},
        {'bg-orange-50': type === 'warning'},
        {'bg-red-50': type === 'danger'},
        {'bg-green-50': type === 'success'}
    ]}>
        <slot></slot>
    </div>
</div>

<style>
    .callout {
        display: block;
        margin: 0.25rem;
        border: 0.02rem solid;
        border-spacing: 1.5rem;
        overflow: hidden;
        border-radius: 0.75rem;
        corner-shape: squircle;
    }
    .callout-header {
        display: flex;
        font-weight: 500;
        padding: 0.5rem;
        gap: 0.5rem;
        justify-content: start;
        align-items: center;
        color: white;
    }
    .callout-tip {
        border-color: teal;
    }
    .callout-warning {
        border-color: orange;
    }
    .callout-success {
        border-color: green;
    }
    .callout-danger {
        border-color: red;
    }
    .callout-header-tip {
        background-color: teal;
    }
    .callout-header-warning {
        background-color: orange;
    }
    .callout-header-success {
        background-color: green;
    }
    .callout-header-danger {
        background-color: red;
    }
</style>
